django
django-heroku
django-crispy-forms
gunicorn
psycopg2
psycopg2-binary
pytz
whitenoise
bootstrap4
dj-database-url
djangorestframework
django-cors-headers
django-rest-knox
django-filter
django-bootstrap-breadcrumbs
