{% extends "default_layout.html" %}

{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
    {% breadcrumb 'Strona główna' '/' %}
    {% breadcrumb 'Login' '/registration/login/' %}
{% endblock %}

{% block contents %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <style>

        .login-form {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

        }

        .login-wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }

    </style>

    <div class="login-wrapper jumbotron">

        <h1 class="display-4"> Hey, want to log in?</h1>
        <form class="login-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <div class="mb-3">

                {{ form|crispy }}

            </div>
            <button class="btn btn-success login-btn" type="submit" value="login">Log in</button>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
        <hr class="my-2">
        <p class="lead"><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>

    {# Assumes you setup the password_reset view in your URLconf #}


{% endblock %}