<link href="/static/css/styles.css" rel="stylesheet" type="text/css">
{% extends 'default_layout.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}
{% load static %}
{% block breadcrumbs %}
    {% breadcrumb "Strona główna" "/" %}
    {% breadcrumb "Sale" "/classrooms/" %}
    {% breadcrumb classroom.opis "/reservations/room={{ classroom.id }}" %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href={% static "css/FacultyRoom.css" %}>
{% endblock stylesheets %}

{% block contents %}
    <div class="jumbotron text-center rounded border border-primary margin10px shadow-lg p-3 mb-5 bg-white rounded kolor">
        <h1 class="display-4">{{ classroom_type }} <b>{{ classroom.opis }}</b></h1>
        {#        <h2 class="text-muted">{{ classroom_type }}</h2>#}
        <h3 class="text-muted">Wydział: {{ classroom.id_wydzialu.nazwa_wydzialu }}</h3>
    </div>

        <div class="form-popup" id="myForm" style="min-width: 330px">
            <form action="{% url 'FacultyRoomPage' classroom.id_pomieszczenia %}" class="form-container" method="post">
                {% csrf_token %}
                <h1>Nowy wpis</h1>
                <div class="form-group">
                    <label for="example-datetime-local-input">Początek</label>
                    <div class="col-10">
                        <input class="form-control" type="datetime-local" name="data_od"
                               id="reservation-begin-datetime-input" style="min-width: 230px">
                    </div>
                </div>

                <div class="form-group">
                    <label for="example-datetime-local-input">Koniec</label>
                    <div class="col-10">
                        <input class="form-control" type="datetime-local" name="data_do"
                               id="reservation-end-datetime-input" style="min-width: 230px">
                    </div>
                </div>

                  <div class="form-group">
                    <label for="exampleSelect2">Opis</label>
                    <textarea class="form-control" name="comment"
                              id="reservation-contents-input" style="min-width: 230px"></textarea>
                </div>

                <button id="submit-new-class" type="submit" class="btn btn-primary">Submit</button>
                <p id="temp-submit" onclick="closeForm()" class="btn-sm btn-danger">Close</p>
            </form>
        </div>
        <div id="calendar">
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var calendarEl = document.getElementById('calendar');
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        selectable: true,
                        nowIndicator: true,
                        headerToolbar: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,timeGridWeek,timeGridDay'
                        },
                        eventClick: function (info) {
                            openForm()
                        },
                        dateClick: function (info) {
                            openForm()
                        },
                        eventMouseEnter: function (info) {
                            info.el.title = info.event.title
                        },
                        select: function (info) {
                            let date = new Date(info.startStr).toISOString().slice(0, 19)
                            let begin_input = document.getElementById("reservation-begin-datetime-input")
                            begin_input.value = date
                            let end_input = document.getElementById("reservation-end-datetime-input")
                            let date_end = new Date(info.endStr).toISOString().slice(0, 19)
                            end_input.value = date_end
                            openForm()
                        },
                        events: [
                            {% for i in events %}
                                {
                                    title: "{% if i.przedmiot is none %} {{ i.opis }} {% else %} {{ i.przedmiot.subject_name }} {% endif %}",
                                    start: "{{ i.data_od|date:'c'}}",
                                    end: "{{ i.data_do|date:'c' }}"
                                },
                            {% endfor %}
                        ]
                    });
                    calendar.render();
                });

                function openForm() {
                    document.getElementById("myForm").style.display = "block";
                }

                function closeForm() {
                    document.getElementById("myForm").style.display = "none";
                }

                function addEvent() {
                    let startDate = document.getElementById('reservation-begin-datetime-input').value
                    let endDate = document.getElementById('reservation-end-datetime-input').value
                    console.log(startDate, endDate)
                    calendar.addEvent(
                        {
                            title: "TEST EVENT",
                            start: startDate,
                            end: endDate,
                        }
                    )
                }

            </script>
        </div>

        {% if messages %}
            <div class="alert alert-dismissible alert-warning messages">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {% for message in messages %}
                    <strong> {{ message }}</strong>
                {% endfor %}
            </div>
        {% endif %}

{% endblock contents %}