<link href="/static/css/styles.css" rel="stylesheet" type="text/css">
{% extends 'default_layout.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}
{% block breadcrumbs %}
    {% breadcrumb "Strona główna" "/" %}
    {% breadcrumb "Sale" "/classrooms/" %}
    {% breadcrumb classroom.opis "/reservations/room={{ classroom.id }}" %}
{% endblock %}
{% block contents %}
    <div class="jumbotron text-center rounded border border-primary margin10px shadow-lg p-3 mb-5 bg-white rounded kolor">
        <h1 class="display-4">{{ classroom_type }} <b>{{ classroom.opis }}</b></h1>
        {#        <h2 class="text-muted">{{ classroom_type }}</h2>#}
        <h3 class="text-muted">Wydział: {{ classroom.id_wydzialu.nazwa_wydzialu }}</h3>
    </div>

    <form class="margin10px" method="post" role="form">
        {% csrf_token %}
        <div class="form-group">
        <div id="calendar">
            <script>
                $(document).ready(function () {
                    $("#calendar").fullCalendar({
                        defaultDate: '2137-04-20',
                        editable: false,
                        eventLimit: true,
                        events: [
                            {% for i in events %}
                                {
                                    title: "{{ i.status }}",
                                    start: "{{ i.data_od|date:"Y-m-d" }}",
                                    end: "{{ i.data_do|date:"Y-m-d" }}"
                                },
                            {% endfor %}
                        ]
                    }).render();
                });
            </script>
        </div>

            <label class="col-form-label col-form-label-sm" style="font-weight: bold; float: left;">
                Wybierz kiedy chcesz zarezerwować pokój:
            </label>

            <div class="marginleftright" style="float: left; clear: both;">
                <strong>OD:</strong>
                <input class="form-control form-control-sm shadow-sm p-3 mb-5 bg-white" type="datetime-local" style="width: 185px" name="data_od">
            </div>
            <div class="marginleftright" style="float: left; margin-left: 3px;">
                <strong>DO:</strong>
            </div>

            <div class="marginleftright" type="submit" id="add-btn" style="clear: both;">
                <button class="btn btn-primary">ZAREZERWUJ</button>
            </div>
        </div>
    </form>

    {% if messages %}
        <div class="alert alert-dismissible alert-warning messages">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% for message in messages %}
                <strong> {{ message }}</strong>
            {% endfor %}
        </div>
    {% endif %}

{% endblock contents %}