{% extends 'default_layout.html' %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb "Strona główna" "/reservations/" %}
    {% breadcrumb "Wydziały" "/reservations/faculty/" %}
{% endblock %}

{% block contents %}

    {% load crispy_forms_tags %}

    <form method="get" class="form">
        {{ classrooms.form| crispy }}
        <input type="submit" class="btn btn-info" />
    </form>

    {% if classrooms.count == 0 %}
        <h2>Nie ma żadnych dostępnych pomieszczeń na tym wydziale.</h2>
    {% else %}
        <div class="card-columns">
            {% for room in classrooms.qs %}
                <div class="card">
                    <h4 class="card-title">{{ room }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Opis: {{ room.opis }}</h6>
                    <a href="faculty={{ room.id_wydzialu.id_wydzialu }}/room={{ room.id_pomieszczenia }}" class="card-link">Szczegóły</a>
                </div>
            {% endfor %}
        </div>

    {% endif %}



{% endblock contents %}