{% extends 'default_layout.html' %}

{% block contents %}

    <div class="jumbotron text-center">
        <h1 class="display-4">Wydział: <b>{{ faculty_name }}</b></h1>
    </div>

    {% if classrooms.count == 0 %}
        <h2>Nie ma żadnych dostępnych pomieszczeń na tym wydziale. Sory ziomuś.</h2>
    {% else %}
        <div class="card-columns">
            {% for room in classrooms %}
                <div class="card">
                    <h4 class="card-title">{{ room.opis }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Typ pomieszczenia: {{ room.rodzaj_pom }}</h6>
                    <p class="card-text">Wydział: {{ room.id_wydzialu.nazwa_wydzialu }}</p>
                    <a href="faculty={{ room.id_wydzialu.id_wydzialu }}/room={{ room.id_pomieszczenia }}" class="card-link">Szczegóły</a>
                </div>
            {% endfor %}
        </div>

    {% endif %}



{% endblock contents %}