{% extends 'default_layout.html' %}

{% block contents %}

    <div class="jumbotron text-center">
        <h1 class="display-4">System rezerwacyjny Politechniki Białostockiej</h1>
        <p>Wypróbuj nowy system rezerwacji pomieszczeń na największej uczelni technicznej we wschodniej Polsce!</p>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" id="wydzialy" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">Wydziały
            </button>
            <div class="dropdown-menu" aria-labelledby="wydzialy">
                {% for faculty in faculties %}
                    <a class="dropdown-item" href="faculty={{ faculty.id_wydzialu }}">{{ faculty }}</a>
                {% endfor %}
            </div>
            <button type="button" class="btn btn-primary dropdown-toggle" id="akademce" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Akademiki
            </button>
            <div class="dropdown-menu" aria-labelledby="akademce">
                {% for dormitory in dormitories %}
                    <a class="dropdown-item"
                       href="dorm={{ dormitory.id_akademika }}">{{ dormitory.nazwa_akademika }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock contents %}