<link href="/static/css/styles.css" rel="stylesheet" type="text/css">
{% extends 'default_layout.html' %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb "Strona główna" "/" %}
    {% breadcrumb "Rezerwacje" "/reservations/" %}
{% endblock %}

{% block contents %}


    {% load crispy_forms_tags %}

    <div class="col-md-3 margin10px">
        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#filtryRezerwacji"
           aria-expanded="false" aria-controls="filtryRezerwacji">Filtry +</a>
    </div>

    <div class="collapse multi-collapse" id="filtryRezerwacji">
        <div>
            <form method="get" class="form-inline padding">
                <div class="row margin10px">
                    <div class="col-ms-4 marginleftright">
                        {{ reservations.form.id_uzytkownika|as_crispy_field }}
                    </div>
                    <div class="col-ms-4 marginleftright">
                        {{ reservations.form.id_pomieszczenia|as_crispy_field }}
                    </div>
                </div>
                <button type="submit" class="btn btn-info align">Filtruj</button>
            </form>
        </div>
    </div>

    <div id="calendar"></div>
    <script>
        let calendarEl;
        let calendar;
        document.addEventListener('DOMContentLoaded', function () {
            calendarEl = document.getElementById('calendar');
            calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                slotDuration: '01:00:00',
                expandRows: true,
                slotMinTime: '07:00:00',
                slotMaxTime: '22:00:00',
                slotLabelFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                    hour12: false,
                },

                // IMPORTANT FUNCTION
                eventClick: function (info) {
                    openForm()
                },
                dateClick: function (info) {
                    openForm()
                },
                eventMouseEnter: function (info) {
                    info.el.title = info.event.title
                },
                select: function (info) {
                    let date = new Date(info.startStr).toISOString().slice(0, 19)
                    let begin_input = document.getElementById("reservation-begin-datetime-input")
                    begin_input.value = date
                    let end_input = document.getElementById("reservation-end-datetime-input")
                    let date_end = new Date(info.endStr).toISOString().slice(0, 19)
                    end_input.value = date_end
                    openForm()
                },
                events: [
                    {% for i in reservations.qs %}
                        {
                            title: "{{ i.przedmiot.subject_name }}",
                            start: "{{ i.data_od|date:'c'}}",
                            end: "{{ i.data_do|date:'c' }}"
                        },
                    {% endfor %}
                ]
            });
            calendar.render();
        });

        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }

    </script>

{% endblock contents %}