<link href="/static/css/styles.css" rel="stylesheet" type="text/css">
{% extends 'default_layout.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load static %}
{% block breadcrumbs %}
    {% breadcrumb "Strona główna" "/" %}
    {% breadcrumb "Profil" "/user/reservations_manager" %}
{% endblock breadcrumbs %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href={% static "css/reservationManager.css" %}>
{% endblock %}

{% block contents %}
    <div id="scrollable-res">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <td>Pomieszczenie</td>
                <td>Data od</td>
                <td>Data do</td>
                <td>Użytkownik</td>
                <td>Status</td>
                <td></td>
            </tr>
            </thead>
            {% for reservation in reservations %}
                <tr class="table table-hover table-striped">
                    <td>
                        <a href="{% url 'FacultyRoomPage' room_id=reservation.id_pomieszczenia.id_pomieszczenia %}">
                            {{ reservation.id_pomieszczenia }}
                        </a>
                    </td>
                    <td>{{ reservation.data_od }} {{ reservation.id_rezerwacji_sali }}</td>
                    <td>{{ reservation.data_do }}</td>
                    <td>{{ reservation.id_uzytkownika }}</td>
                    {% if reservation.status == 'Z' %}
                        <td><span class="badge badge-pill badge-success">Zaakceptowano</span></td>
                    {% elif reservation.status == 'O' %}
                        <td><span class="badge badge-pill badge-danger">Odrzucono</span></td>
                    {% else %}
                        <td><span class="badge badge-pill badge-primary">W trakcie</span></td>
                    {% endif %}
                    <td>
                        <form action="{% url 'ReservationsManager_POST' reservation.id_rezerwacji_sali %}" method="post" role="form">
                            {% csrf_token %}
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                        id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Opcje
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <button class="dropdown-item" name="status" value="Z" type="submit">Zatwierdź
                                    </button>
                                    <button class="dropdown-item" onclick="openFormForDenial()" name="status" type="button">Odrzuć</button>
                                    <button type="button" onclick="openFormForComment()" class="dropdown-item">Dodaj komentarz</button>
                                </div>
                            </div>
                            <div class="form-popup" id="myForm">
                                <h1>Nowy komentarz</h1>
                                <div class="form-group">
                                    <label for="example-contents-input"></label>
                                    <div class="col-10">
                                        <textarea class="form-control" name="comment"
                                            id="reservation-contents-input"></textarea>
                                    </div>
                                </div>

                                <button id="submit-new-class" type="submit" name="status" value="K" class="btn btn-primary">Submit</button>
                                <button id="temp-submit" type="button" onclick="closeForm()" class="btn-sm btn-danger">Close</button>

                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock contents %}

{% block scripts %}
    <script>

        function openFormForComment() {
            console.log("OpenFormForComment")
            document.getElementById('submit-new-class').value = 'K'
            document.getElementById("myForm").style.display = "flex";
        }

        function openFormForDenial() {
            console.log("OpenFormForDenial")
            document.getElementById('submit-new-class').value = 'O'
            document.getElementById("myForm").style.display = "flex";
        }

        function closeForm() {
            console.log("closeForm")
            document.getElementById("myForm").style.display = "none";
        }
    </script>
{% endblock scripts %}