{% extends 'default_layout.html' %}

{% block contents %}

    {% if user.is_authenticated %}
        <div class="jumbotron text-center">
            <h1 class="display-4">Twój profil</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col w-75">
                    <b>Imię i nazwisko:</b>
                    <b>Adres email:</b>
                </div>
                <div class="col w-25">
                    tu kiedyś będzie lista tych ostatnich rezerwacji
                </div>
            </div>
        </div>
    {% else %}
        <div class="jumbotron text-center">
            <h1 class="display-4">Jesteś niezalogowany.</h1>
            <h3 class="text-muted">Kliknij na przycisk "Zaloguj się" i wpisz swoje dane, aby się zalogować do systemu.</h3>
        </div>
    {% endif %}

{% endblock contents %}