<link href="/static/css/styles.css" rel="stylesheet" type="text/css">
{% extends 'default_layout.html' %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb "Strona główna" "/" %}
    {% breadcrumb "Profil" "/user/" %}
{% endblock %}
{% block contents %}

    {% if user.is_authenticated %}
        <div class="jumbotron text-center">
            <h1 class="display-4">Cześć,{{ username.imie }} </h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col w-25">
                    <div class="card border-primary mb-3" style="max-width: 20rem;">
                        <h4 class="card-header">Dane szczegółowe</h4>
                        <div class="card-body">
                            <p class="card-title">{{ username.imie }} {{ username.nazwisko }}</p>
                            <p class="card-text">
                                E-mail: {{ username.e_mail }}<br>
                                Wydział: {{ username.id_wydzialu }}<br>
                                Status: {{ username.status }}<br>
                            </p>
                        </div>
                    </div>
                    {% if is_admin or is_coordinator or is_room_administrator %}
                        <div class="card border-danger mb-3" style="max-width: 20rem;">
                            <h4 class="card-header">Admin Panel</h4>
                            <div class="card-body">
                                {% if is_room_administrator %}
                                    <a href=" {% url 'ReservationsManager' %}" class="btn btn-info"
                                       style="margin-bottom: 1rem">Classroom Reservations</a>
                                {% endif %}
                                {% if is_coordinator %}
                                    <a href=" {% url 'ClassManager' %}" class="btn btn-warning"
                                       style="margin-bottom: 1rem">Class planning</a>
                                {% endif %}
                                {% if is_admin %}
                                    <a href=" {% url 'PermissionsManager' %}" class="btn btn-danger"
                                       style="margin-bottom: 1rem">User permissions</a>
                                {% endif %}
                                {% if is_dorm_admin %}
                                    <a href=" {% url 'PermissionsManager' %}" class="btn btn-success"
                                       style="margin-bottom: 1rem">Dorm Reservations</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div id="scrollable-res" class="col w-75">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <td>Pomieszczenie</td>
                            <td>Data od</td>
                            <td>Data do</td>
                            <td>Status</td>
                        </tr>
                        </thead>
                        {% for reservation in made_reservations %}
                            <tr class="table table-hover table-striped">
                                <td>
                                    <a href="{% url 'FacultyRoomPage' room_id=reservation.id_pomieszczenia.id_pomieszczenia %}">
                                        {{ reservation.id_pomieszczenia }}
                                    </a>
                                </td>
                                <td>{{ reservation.data_od }}</td>
                                <td>{{ reservation.data_do }}</td>
                                {% if reservation.status == 'Z' %}
                                    <td><span class="badge badge-pill badge-success">Zaakceptowano</span></td>
                                {% elif reservation.status == 'O' %}
                                    <td><span class="badge badge-pill badge-danger">Odrzucono</span></td>
                                {% else %}
                                    <td><span class="badge badge-pill badge-primary">W trakcie</span></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <div class="jumbotron text-center">
            <h1 class="display-4">Jesteś niezalogowany.</h1>
            <h3 class="text-muted">Kliknij na przycisk "Zaloguj się" i wpisz swoje dane, aby się zalogować do
                systemu.</h3>
        </div>
    {% endif %}

{% endblock contents %}