<link href="/static/css/styles.css" rel="stylesheet" type="text/css">
{% extends 'default_layout.html' %}

{% block contents %}

    {% for user in users %}
        <div class="card bg-secondary mb-2">
            <div class="card-header">
                {{ user }}
            </div>
            <div class="card-body">
                <div class="form-inline padding">
                    <div class="row margin10px">
                        {% for group in user.konto.groups.all %}
                            <div class="col-ms-4 marginleftright">
                                {{ group }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}



{% endblock contents %}