body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.TopBar {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(10, 1fr);
}

/*.jumbotron{*/
/*  background: url("https://d-pt.ppstatic.pl/k/r/1/3b/d4/5fae540cce000_p.jpg") center center;*/
/*  background-size: cover;*/
/*  color: white;*/
/*}*/

.PLACEHOLDER {
  grid-column: 8/10;
  grid-row: 1/2;
}