body {
  background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
p{
    font-family: italic;
}

.kolor{
    background-color: green;
}

.margin10px{
    margin: 10px;
}

.margintop{
    margin-top: 5px;
    margin-bottom: 5px;
}

.marginleftright{
    margin-left: 15px;
    margin-right: 15px;
}

.padding{
    padding: 10px;
}

.align{
    margin-left: 20px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.filters{
    display: inline-block
}